{{{region name="pagebuilder_home2"}}}
<div class="container-usp">
    <div class="col-usp">
        <div class="col-img-usp">
            <img src="{{cdn 'img/loading.svg'}}" alt="usp data" class="lazyload" data-src="https://cdn11.bigcommerce.com/s-jyxhk9wlls/images/stencil/original/image-manager/local-shipping-fill0-wght400-grad0-opsz48-2-.png?t=1737530723">
        </div>
        <div class="col-data-usp">
            <span class="usp-data-title">Next Day Ground Shipping</span>
            <span class="usp-data-description">Flat rate Freight on wholesale orders</span>
        </div>
    </div>
    <div class="lg-separator">&nbsp;</div>
    <div class="col-usp">
        <div class="col-img-usp">
            <img src="{{cdn 'img/loading.svg'}}" alt="usp data" class="lazyload" data-src="https://cdn11.bigcommerce.com/s-jyxhk9wlls/images/stencil/original/image-manager/cached-fill0-wght400-grad0-opsz48-1-.png?t=1737530721">
        </div>
        <div class="col-data-usp">
            <span class="usp-data-title">Dud Replacement</span>
            <span class="usp-data-description">Epicurei honestatis an nam</span>
        </div>
    </div>
    <div class="lg-separator">&nbsp;</div>
    <div class="col-usp">
        <div class="col-img-usp">
            <img src="{{cdn 'img/loading.svg'}}" alt="usp data" class="lazyload" data-src="https://cdn11.bigcommerce.com/s-jyxhk9wlls/images/stencil/original/image-manager/verified-fill0-wght400-grad0-opsz48-3-.png?t=1737530724">
        </div>
        <div class="col-data-usp">
            <span class="usp-data-title">Liability Insurance Available</span>
            <span class="usp-data-description">Store & Tent Owner</span>
        </div>
    </div>
    <div class="lg-separator">&nbsp;</div>
    <div class="col-usp">
        <div class="col-img-usp">
            <img src="{{cdn 'img/loading.svg'}}" alt="usp data" class="lazyload" data-src="https://cdn11.bigcommerce.com/s-jyxhk9wlls/images/stencil/original/image-manager/local-police-fill0-wght400-grad0-opsz48-3-.png?t=1737530722">
        </div>
        <div class="col-data-usp">
            <span class="usp-data-title">3 Michigan Locations</span>
            <span class="usp-data-description">Open Year Round!</span>
        </div>
    </div>
</div>
<div class="container-3-category">
    <div class="col-cat">
        <img src="{{cdn 'img/loading.svg'}}" alt="category gender reveal" class="lazyload category-bg" data-src="https://cdn11.bigcommerce.com/s-jyxhk9wlls/images/stencil/original/image-manager/gender-reveal.png?t=1737531475">
        <div class="container-cta-cat">
            <span class="title-cat">
                Gender<br>Reveal
            </span>
            <a href="#">Shop Now</a>
        </div>
    </div>
    <div class="col-cat">
        <img src="{{cdn 'img/loading.svg'}}" alt="category gender reveal" class="lazyload category-bg" data-src="https://cdn11.bigcommerce.com/s-jyxhk9wlls/images/stencil/original/image-manager/gender-reveal.png?t=1737531475">
        <div class="container-cta-cat">
            <span class="title-cat">
                Smoke<br>Grenades
            </span>
            <a href="#">Shop Now</a>
        </div>
    </div>
    <div class="col-cat">
        <img src="{{cdn 'img/loading.svg'}}" alt="category gender reveal" class="lazyload category-bg" data-src="https://cdn11.bigcommerce.com/s-jyxhk9wlls/images/stencil/original/image-manager/gender-reveal.png?t=1737531475">
       <div class="container-cta-cat">
        <span class="title-cat">
           Finale<br>Cakes
        </span>
        <a href="#">Shop Now</a>
       </div>
    </div>
</div>


{{> components/sbthemes/sections/section-home2 section=theme_settings.home_section1 }}
<div class="container-3-category">
    <div class="col-cat">
        <img src="{{cdn 'img/loading.svg'}}" alt="category gender reveal" class="lazyload category-bg" data-src="https://cdn11.bigcommerce.com/s-jyxhk9wlls/images/stencil/original/image-manager/cannister.png?t=1737620670">
        <div class="container-cta-cat">
            <span class="upper-title-cat">
                Top Quality Aerial Shells
            </span>
            <span class="title-cat">
                Canister<br>Shells
            </span>
            <a href="#">Shop Now</a>
        </div>
    </div>
    <div class="col-cat">
        <img src="{{cdn 'img/loading.svg'}}" alt="category gender reveal" class="lazyload category-bg" data-src="https://cdn11.bigcommerce.com/s-jyxhk9wlls/images/stencil/original/image-manager/pyro.png?t=1737620680">
        <div class="container-cta-cat">
            <span class="upper-title-cat">
                CBD, Hemp Hemp Hooray & More
            </span>
            <span class="title-cat">
               Pyro High<br>Brand
            </span>
            <a href="#">Shop Now</a>
        </div>
    </div>
    <div class="col-cat">
        <img src="{{cdn 'img/loading.svg'}}" alt="category gender reveal" class="lazyload category-bg" data-src="https://cdn11.bigcommerce.com/s-jyxhk9wlls/images/stencil/original/image-manager/wholesale.png?t=1737620685">
       <div class="container-cta-cat">
        <span class="upper-title-cat">
            1.4 G - Pro 1.4 G
        </span>
        <span class="title-cat">
         Wholesale Account<br>Application
        </span>
        <a href="#">Shop Now</a>
       </div>
    </div>
</div>
<div class="container-usp">
    <div class="col-usp">
        <div class="col-img-usp">
            <img src="{{cdn 'img/loading.svg'}}" alt="usp data" class="lazyload" data-src="https://cdn11.bigcommerce.com/s-jyxhk9wlls/images/stencil/original/image-manager/calendar-month-fill0-wght400-grad0-opsz48.png?t=1737618472">
        </div>
        <div class="col-data-usp">
            <span class="usp-data-title">Open Year Round</span>
            <span class="usp-data-description">We've Got the Good Stuff!</span>
        </div>
    </div>
    <div class="lg-separator">&nbsp;</div>
    <div class="col-usp">
        <div class="col-img-usp">
            <img src="{{cdn 'img/loading.svg'}}" alt="usp data" class="lazyload" data-src="https://cdn11.bigcommerce.com/s-jyxhk9wlls/images/stencil/original/image-manager/history-fill0-wght400-grad0-opsz48.png?t=1737618472">
        </div>
        <div class="col-data-usp">
            <span class="usp-data-title">Extended Hours</span>
            <span class="usp-data-description">On weeks of holidays</span>
        </div>
    </div>
    <div class="lg-separator">&nbsp;</div>
    <div class="col-usp">
        <div class="col-img-usp">
            <img src="{{cdn 'img/loading.svg'}}" alt="usp data" class="lazyload" data-src="https://cdn11.bigcommerce.com/s-jyxhk9wlls/images/stencil/original/image-manager/social-leaderboard-fill0-wght400-grad0-opsz48-2-.png?t=1737618473">
        </div>
        <div class="col-data-usp">
            <span class="usp-data-title">Top Quality Brands</span>
            <span class="usp-data-description">Direct Importer</span>
        </div>
    </div>
    <div class="lg-separator">&nbsp;</div>
    <div class="col-usp">
        <div class="col-img-usp">
            <img src="{{cdn 'img/loading.svg'}}" alt="usp data" class="lazyload" data-src="https://cdn11.bigcommerce.com/s-jyxhk9wlls/images/stencil/original/image-manager/storefront-fill0-wght400-grad0-opsz48.png?t=1737618474">
        </div>
        <div class="col-data-usp">
            <span class="usp-data-title">3 Retial</span>
            <span class="usp-data-description">Open Year Round!</span>
        </div>
    </div>
</div>
{{{region name="pagebuilder_home21"}}}
{{> components/sbthemes/sections/section-home2 section=theme_settings.home_section2 }}
<div class="container-2-banner">
    <div class="col-banner">
        <img src="{{cdn 'img/loading.svg'}}" data-src="https://cdn11.bigcommerce.com/s-jyxhk9wlls/images/stencil/original/image-manager/booking.png?t=1737621292" class="lazyload" alt="banner smoke background">
        <div class="content-banner">
           
            <span class="banner-title">Book Your Fireworks Event</span>
            <span class="small-banner-description">
                Weddings • Private Shows • Sporting Events
            </span>
            <a href="#">Book Now</a>
        </div>
    </div>
    <div class="col-banner">
        <img src="{{cdn 'img/loading.svg'}}" data-src="https://cdn11.bigcommerce.com/s-jyxhk9wlls/images/stencil/original/image-manager/location.png?t=1737621295" class="lazyload" alt="banner wholesale background">
        <div class="content-banner">
           
            <span class="banner-title">Find a Store</span>
            <span class="small-banner-description">
                Look for the nearest Jeff's Fireworks
            </span>
            <a href="#">Book Now</a>
        </div>
    </div>
</div>


{{{region name="pagebuilder_home22"}}}
{{> components/sbthemes/sections/section-home2 section=theme_settings.home_section9 }}
{{> components/sbthemes/sections/section-home2 section=theme_settings.home_section10 }}



