<style>
    .products-list .product-grid .product-item-container .right-block .button-group{
        display:block;
        position:unset;
    }
</style>
<div class="productView">
    {{#each product.reviews.messages}}
        {{#if error}}
            {{> components/common/alert-error error}}
        {{/if}}
        {{#if success}}
            {{> components/common/alert-success success}}
        {{/if}}
    {{/each}}

    <section class="productView-images" data-image-gallery>
		{{#if gallery '==' 'bottom'}}
			{{> components/sbthemes/gallery/gallery-bottom}}
		{{else if 	gallery '==' 'left'}}	
			{{> components/sbthemes/gallery/gallery-left}}
		{{else if 	gallery '==' 'list'}}	
			{{> components/sbthemes/gallery/gallery-list}}
		{{else if 	gallery '==' 'grid'}}	
			{{> components/sbthemes/gallery/gallery-grid}}
		{{else}}
			{{> components/sbthemes/gallery/gallery-bottom}}
		{{/if}}
		{{#if theme_settings.settings_productlabel}}
			{{> components/sbthemes/shortcode/default prefix="badges" content = product.description }}
		{{/if}}
		
    </section>
    <section class="productView-details">
        <div class="productView-product">
            {{#unless product.out_of_stock}}
              <div class="container-instock">
                <span class="instock">IN STOCK</span>
              </div>
            {{/unless}}
            <h1 class="productView-title" {{#if schema}}itemprop="name"{{/if}}>{{product.title}}</h1>
            <div class="container-brand-slot">
                {{#if product.brand}}<img style="width:64px;height:100%;" class="lazyload" brand-image brand_{{dashcase (lowercase product.brand.name)}} src="{{cdn 'img/loading.svg'}}">{{/if}}
                {{#if product.brand}}
                <p class="productView-brand"{{#if schema}} itemprop="brand" itemscope itemtype="http://schema.org/Brand"{{/if}}>
                    <a href="{{product.brand.url}}"{{#if schema}} itemprop="url"{{/if}}><span{{#if schema}} itemprop="name"{{/if}}>{{product.brand.name}}</span></a>
                </p>
                {{/if}}
			
            </div>
           <div style="display:none" class="productView-rating rating--small"{{#if schema}} itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating"{{/if}}>
                {{#if settings.show_product_rating}}
                    {{#if product.num_reviews '>' 0}}
                        {{#if schema}}
                            <meta itemprop="ratingValue" content="{{product.rating}}">
                            <meta itemprop="ratingCount" content="{{product.num_reviews}}">
                            <meta itemprop="reviewCount" content="{{product.num_reviews}}">
                        {{/if}}
                    {{/if}}
                    {{> components/products/ratings rating=product.rating}}
                    <span class="productView-reviewLink">
                        {{#if product.num_reviews '>' 0}}
                            <a href="{{product.url}}#product-reviews">
                                {{lang 'products.reviews.link_to_review' total=product.num_reviews}}
                            </a>
                        {{else}}
                            {{lang 'products.reviews.link_to_review' total=product.num_reviews}}
                        {{/if}}
                    </span>
                {{/if}}
                {{#if settings.show_product_reviews}}
                    <span class="productView-reviewLink">
                        <a href="{{product.url}}{{#if is_ajax}}#write_review{{/if}}"
                           {{#unless is_ajax }}data-reveal-id="modal-review-form"{{/unless}}>
                           {{lang 'products.reviews.new'}}
                        </a>
                    </span>
                    {{> components/products/modals/writeReview}}
                {{/if}}
            </div>

            {{#if product.call_for_price}}
                <p class="productView-price">
                    <span>{{product.call_for_price}}</span>
                </p>
            {{/if}}

            <div class="productView-price">
                {{#or customer (if theme_settings.restrict_to_login '!==' true)}}
                    {{> components/products/price price=product.price schema_org=schema}}
                {{else}}
                    {{> components/common/login-for-pricing}}
                {{/or}}
            </div>

           {{#if product.out_of_stock}}
                    <div class="alertBox alertBox--error">
                        <div class="alertBox-column alertBox-icon">
                            <icon glyph="ic-error" class="icon" aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z"></path></svg></icon>
                        </div>
                        <p class="alertBox-column alertBox-message">
                            <span>Fireworks Coming Soon!</span>
                        </p>
                    </div>
            {{/if}}
            
            {{product.detail_messages}}

            <div class="productView-info">
				{{#all  theme_settings.settings_sizechart (if img_sizechart '!==' ' ') }}
				<a class="image-popup-sizechart" href="{{cdn img_sizechart}}">
					<i class="fa fa-photo" aria-hidden="true"></i>
					{{title_sizechart}} 
				</a>
				{{/all}}
				
				{{#if theme_settings.settings_countdown}}
					{{> components/sbthemes/shortcode/default prefix="countdown" product_id= product.id content = product.description }}
				{{/if}}
				<dl class="productView-info-dl">
					{{#if product.sku}}
						<dt class="productView-info-name">{{lang 'products.sku'}}</dt>
						<dd class="productView-info-value" data-product-sku>{{product.sku}}</dd>
					{{/if}}
					{{#if product.upc}}
						<dt class="productView-info-name">{{lang 'products.upc'}}</dt>
						<dd class="productView-info-value" data-product-upc>{{product.upc}}</dd>
					{{/if}}
					{{#if product.condition}}
						<dt class="productView-info-name">{{lang 'products.condition'}}</dt>
						<dd class="productView-info-value">{{product.condition}}</dd>
					{{/if}}
					{{#if product.availability}}
						<dt class="productView-info-name">{{lang 'products.availability'}}</dt>
						<dd class="productView-info-value">{{product.availability}}</dd>
					{{/if}}
					{{#if product.weight}}
						<dt class="productView-info-name">{{lang 'products.weight'}}</dt>
						<dd class="productView-info-value" data-product-weight>{{product.weight}} <span style="letter-spacing: 1px;font-weight: normal;">per pc.</span></dd>
					{{/if}}
					{{#if product.min_purchase_quantity}}
						<dt class="productView-info-name">{{lang 'products.min_purchase_quantity'}}</dt>
						<dd class="productView-info-value">{{lang 'products.purchase_units' quantity=product.min_purchase_quantity}}</dd>
					{{/if}}
					{{#if product.max_purchase_quantity}}
						<dt class="productView-info-name">{{lang 'products.max_purchase_quantity'}}</dt>
						<dd class="productView-info-value">{{lang 'products.purchase_units' quantity=product.max_purchase_quantity}}</dd>
					{{/if}}
					{{#if product.gift_wrapping_available}}
						<dt class="productView-info-name">{{lang 'products.gift_wrapping'}}</dt>
						<dd class="productView-info-value">{{lang 'products.gift_wrapping_available'}}</dd>
					{{/if}}
					{{#if product.shipping}}
						{{#if product.shipping.calculated}}
							<dt class="productView-info-name">{{lang 'products.shipping'}}</dt>
							<dd class="productView-info-value">{{lang 'products.shipping_calculated'}}</dd>
						{{else}}
							{{#if product.shipping.price.value '===' 0}}
								<dt class="productView-info-name">{{lang 'products.shipping'}}</dt>
								<dd class="productView-info-value">{{lang 'products.shipping_free'}}</dd>
							{{else}}
								<dt class="productView-info-name">{{lang 'products.shipping'}}</dt>
								<dd class="productView-info-value">{{lang 'products.shipping_fixed' amount=product.shipping.price.formatted}}</dd>
							{{/if}}
						{{/if}}
					{{/if}}
					{{#if product.bulk_discount_rates.length}}
						<dt class="productView-info-name">{{lang 'products.bulk_pricing.title'}}</dt>
						<dd class="productView-info-value">
							<a href="{{product.url}}"
								{{#unless is_ajax }}data-reveal-id="bulkPricingModal" {{/unless}}>
								{{lang 'products.bulk_pricing.view'}}
							</a>
						</dd>

						<div id="bulkPricingModal" class="modal modal--small" data-reveal>
							<div class="modal-header">
								<h2 class="modal-header-title">{{lang 'products.bulk_pricing.modal_title'}}</h2>
								<a href="#" class="modal-close" aria-label="Close"><span aria-hidden="true">&#215;</span></a>
							</div>
							<div class="modal-body">
								<p>{{lang 'products.bulk_pricing.instructions'}}</p>
								<ul>
								{{#each product.bulk_discount_rates}}
									<li>
										{{lang 'products.bulk_pricing.range' min=min max=max}}
										{{#if type '===' 'percent'}}
											{{lang 'products.bulk_pricing.percent' discount=discount.formatted}}
										{{/if}}
										{{#if type '===' 'fixed'}}
											{{lang 'products.bulk_pricing.fixed' discount=discount.formatted}}
										{{/if}}
										{{#if type '===' 'price'}}
											{{lang 'products.bulk_pricing.price' discount=discount.formatted}}
										{{/if}}
									</li>
								{{/each}}
								</ul>
							</div>
						</div>
					{{/if}}

				{{#each product.custom_fields}}
					    {{#or (if name '==' 'Case Pky') (if name '==' 'Case Qty')}}
					    {{else}}
                            {{#if name '==' 'Sold Per Case'}}
                              {{#if ../../../customer.customer_group_name '==' 'Wholesale'}}
                                <dt class="productView-info-name">{{name}}:</dt>
                                <dd class="productView-info-value">{{{value}}}</dd>
                              {{/if}}
                            {{else}}
                                <dt class="productView-info-name">{{name}}:</dt>
                                <dd class="productView-info-value">{{value}}</dd>
                            {{/if}}
                             
						{{/or}}
					{{/each}}
				</dl>

                <div class="store-location">
                  <a href="/locations" style="color:#222222">
                    <i class="fa fa-map-marker"></i> <span class="pis">Pickup in-store</span> <span class="pis-2">Inventory can vary by location.</span>
                  </a>
                </div>
			
            </div>

           
        </div>
    </section>

    

    <section class="productView-details ">
        <div class="productView-options">
            {{#if product.release_date }}
                <p>{{product.release_date}}</p>
            {{/if}}
            <form class="form" method="post" action="{{product.cart_url}}" enctype="multipart/form-data"
                  data-cart-item-add>
                <input type="hidden" name="action" value="add">
                <input type="hidden" name="product_id" value="{{product.id}}"/>
                    {{#each product.customizations}}
                        {{{dynamicComponent 'components/products/customizations'}}}
                    {{/each}}
                <div data-product-option-change style="display:none;">
                    {{#each product.options}}
                        {{{dynamicComponent 'components/products/options'}}}
                    {{/each}}
                </div>
                {{#if product.event_date}}
                    {{> components/products/event-date}}
                {{/if}}
               <!-- <div class="form-field form-field--stock{{#unless product.stock_level}} u-hiddenVisually{{/unless}}">
                    <label class="form-label form-label--alternate">
                        {{lang 'products.current_stock'}}
                        <span data-product-stock>{{product.stock_level}}</span>
                    </label>
                </div> -->
                {{#if product.can_purchase}}
                    {{> components/products/add-to-cart}}
                {{/if}}
                
            </form>
           <div class="container-under-cta">
            {{#if settings.show_wishlist}}
            {{> components/common/wishlist-dropdown}}
            {{/if}}
            <div class="ask-prod">
                <a href="/ask-about-this-product/" target="_blank">
                    <i class="fa fa-envelope"></i>
                    <span>ASK ABOUT THIS  PRODUCT</span>
                </a>
            </div>
           </div>
        </div>
        
        {{{snippet 'product_details'}}}
    </section>

    <section class="productView-details productView-details--bottom">
        <div class="wrap-content"><div class="addthis_inline_share_toolbox"></div></div>
        <!-- Go to www.addthis.com/dashboard to customize your tools -->
        <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-529be2200cc72db5"></script>
		
		<div class="static-icons">

                <div class="col_icons">
                <img class="lazyload aoc_icon" src="{{cdn 'img/loading.svg'}}" data-src="https://cdn11.bigcommerce.com/s-bx5lgignkk/images/stencil/original/image-manager/ship.png" alt="icon"/>
               
                    <span>Next Day Shipping</span>    
       
                </div>    
          
  
                <div class="col_icons">
                <img class="lazyload aoc_icon" src="{{cdn 'img/loading.svg'}}" data-src="https://cdn11.bigcommerce.com/s-bx5lgignkk/images/stencil/original/image-manager/recycle.png" alt="icon"/>
                    <span>Dud Replacement</span>    
                </div>    
      
 
                <div class="col_icons">
                <img class="lazyload aoc_icon" src="{{cdn 'img/loading.svg'}}" data-src="https://cdn11.bigcommerce.com/s-bx5lgignkk/images/stencil/original/image-manager/check.png" alt="icon"/>
                  <span>Top Quality</span>    
           
                </div>    
    
          
                <div class="col_icons">
                <img class="lazyload aoc_icon" src="{{cdn 'img/loading.svg'}}" data-src="https://cdn11.bigcommerce.com/s-bx5lgignkk/images/stencil/original/image-manager/star.png" alt="icon"/>
                
                    <span>3 Michigan Locations</span>    
          
                </div>    
          
            {{{region name="product_below_cta"}}}
        </div>
        <div class="productView-details__payment">
            {{!-- {{> components/common/payment-icons}} --}}
        </div>

    </section>
	
    <article class="productView-description {{theme_settings.settings_producttab}}-tabs" {{#if schema}} itemprop="description"{{/if}}>
		
        <ul class="tabs {{#if theme_settings.settings_producttab '==' 'vertical'}} col-lg-3 col-md-4 {{/if}}" data-tab>
            <li class="tab is-active">
                <a class="tab-title" href="#tab-description">{{lang 'products.description'}}</a>
            </li>
            {{#if product.warranty}}
                <li class="tab">
                    <a class="tab-title" href="#tab-warranty">{{lang 'products.warranty'}}</a>
                </li>
            {{/if}}
            {{#if product.videos.list.length}}
                <li class="tab">
                    <a class="tab-title" href="#tab-video">{{lang 'products.videos.header'}}</a>
                </li>
            {{/if}}
		
          
                <li class="tab">
                    <a class="tab-title" href="#tab-review">Reviews</a>
                </li>
           
        </ul>

        <div class="tabs-contents {{#if theme_settings.settings_producttab '==' 'vertical'}} col-lg-9 col-md-8 {{/if}}">
            <div class="tab-content is-active" id="tab-description">
				{{> components/sbthemes/shortcode/summary content = product.description }}
                {{{snippet 'product_description'}}}
            </div>
			
           {{#if product.warranty}}
               <div class="tab-content" id="tab-warranty">
                   {{{product.warranty}}}
               </div>
           {{/if}}
		   
           {{#if product.videos.list.length}}
               <div class="tab-content" id="tab-video">
                   {{> components/products/videos product.videos}}
               </div>
           {{/if}}
               
			
        
               <div class="tab-content" id="tab-review">
                 {{!--  {{> components/products/reviews reviews=product.reviews product=product urls=urls}} --}}
               </div>

        </div>
    </article>
</div>
 {{#each product.custom_fields}}
  {{#if name '===' 'Case Qty'}}
     <div style="font-size: 0;" id="qtyIncrement">{{{value}}}</div>
   {{/if}}
{{/each}} 
  {{#if customer.customer_group_name '===' 'Wholesale'}}
		<div style="font-size: 0;" id="customergrp">{{ customer.customer_group_name }} </div>
   {{/if}}
<div id="previewModal" class="modal modal--large" data-reveal>
    <a href="#" class="modal-close" aria-label="{{lang 'common.close'}}" role="button">
        <span aria-hidden="true">&#215;</span>
    </a>
    <div class="modal-content"></div>
    <div class="loadingOverlay"></div>
</div>
<script>
$(document).ready(function(){
if($("#qtyIncrement").length){
if($("#customergrp").length){
$('.form-input.form-input--incrementTotal').keydown(function(e) {
   e.preventDefault();
   return false;
});
$( ".form-input.form-input--incrementTotal").val($("#qtyIncrement").html());
$( ".form-increment .button[data-action='inc']").click(function(){
	var qtyIncrement = parseInt($("#qtyIncrement").html());
	var origqty = parseInt($( ".form-input.form-input--incrementTotal").val());
	var newqty = parseInt(qtyIncrement + origqty);
$( ".form-input.form-input--incrementTotal").val(newqty - 1);
});
$( ".form-increment .button[data-action='dec']").click(function(){
	var qtyIncrement = parseInt($("#qtyIncrement").html());
	var origqty = parseInt($( ".form-input.form-input--incrementTotal").val());
	var newqty = parseInt(origqty - qtyIncrement);
	if (origqty == qtyIncrement) {$( ".form-input.form-input--incrementTotal").val(origqty + 1);}else{
		$( ".form-input.form-input--incrementTotal").val(newqty + 1);
	}
});
}
}
});
</script>
