{{!--
===============================================================================
Show Section Slideshow - Home 01
===============================================================================
--}}
<div class="section-slideshow">
	<div class="container" >
		<div class="row">
			<div class="col-lg-9 col-sm-12  offset-lg-3 block-slideshow">
				<div class="row">
					
					<div class="col-lg-9 col-md-12 col-sm-12  col_qavo block-slideshow__left">
						 {{> components/sbthemes/carousel}}
					</div>
					
					<div class="col-lg-3 col-md-12 col-sm-12  col_jztu block-slideshow__right">
						{{> components/sbthemes/module/sb_banner/banner status=true prefix="slideshow" showContent=false limitation=3 class_sfx=""}}
					</div>
					
				</div>
			  
			</div>
		</div>
		
	</div>
</div>
